<div style="position: relative;">
<img style="position: absolute; right: 60px;" src="images/post/info_sharing.png" alt="tester" />
<ul>
    <h2>Server Info:</h2>
    <li>IP: <b>login.warcores.com</b> (Port: <b>{{ config.lua.loginPort }}</b>)</li>
    {%  if clientVersion %}
    <li>Client: <b>{{ clientVersion }}</b></li>
    {%  endif %}
    <li>Online: <b>24/7</b></li>
    {%  if globalSaveHour %}
    <li>Global save: <b>{{ globalSaveHour }}:00</b></li>
    {%  endif %}
    <li>World type: <b>WAR</b></li>
    <li>Public account: <b>1 / 1</b></li>

    <h2>Rates</h2>
    {%  if rateExp is defined %}
    <li>Exp Rate: <b>x{{ rateExp }}</b></li>
    {%  endif %}
    {%  if rateMagic is defined %}
    <li>Magic Level: <b>x{{ rateMagic }}</b></li>
    {%  endif %}
    {%  if rateSkill is defined %}
    <li>Skills: <b>x{{ rateSkill }}</b></li>
    {% endif %}
    {%  if rateLoot is defined %}
    <li>Loot: <b>x{{ rateLoot }}</b></li>
    {%  endif %}
    {%  if rateSpawn is defined %}
    <li>Spawn: <b>x{{ rateSpawn }}</b></li>
    {%  endif %}

    {# <h2>Systems:</h2>
    <li><b>Change Map:</b> Read more...</li>
    <li><b>Skull by Frags:</b> Read more...</li>
    <li><b>Reward Level Up:</b> Read more...</li>
    <li><b>Capture the Flag:</b> Read more...</li>
    <li><b>Towns teams:</b> Read more...</li> #}
    {# <li><b>Tower defence:</b> coming soon...</li>
    <li><b>Game of Thrones:</b> coming soon...</li>
    <li><b>Penta kills:</b> coming soon...</li> #}

    <h2>Other</h2>
    {# <li>Respect our <a href="{{ getLink('rules') }}">rules</a>.</li> #}
    <li>Please report rule violations (Botters, players breaking rules etc) with <b>CTRL + R</b>.</li>
</ul>
</div>